.current {
    color: #ffa000;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    // text-decoration: underline;
}

.others {
    color: #00bbbb;
    font-family: Arial;
    font-weight: bold;
}
