// .current_tab { font-weight: bold; background: var(--newsletter-background-color); }
.current_tab { font-weight: bold; }
.other_tab { }

.card-body > hr {
    height: 1px;
    border-top: 1px solid #666;
}

.alnright { 
    text-align: right; 
    margin-right: 1em;
}
