---
layout: default
---
<div id="author_projects" class="card">
<h1 class="card-title">{{ page.page_title }}</h1><br />

{% for col in site.collections %} 
{% if col.label == page.target_category %}
{% assign projects = col.docs | sort: "date" | reverse%}
{% for prj in projects %} {% if prj.visible %}
  <div class="row" id="project-card">
    <div class="col-lg-2 col-mg-3">
{% if prj.publish %}
<a href="{{prj.url}}">
{% endif %}
      <img src="{{prj.thumbnail}}" style="width: 100px; height: 100px;">
    </div>
    <div class="col-lg-10 col-mg-9 center">
      <h4 class="experience-title">{{ prj.title }}</h4>
{% if prj.publish %}
</a>
{% endif %}
      <h6 class="experience-info">
        {%if prj.period %}
          <table style="width: 100%;" class="col-lg-9 col-mg-10 col-sg-12">
          <td>
            {{prj.affiliation}}
          </td>
          <td nowrap class="alnright" style="padding: 3px;">
            <i>{{prj.period}}</i>
          </td>
          </table>
        {%else%}
        {{ prj.affiliation}}
        {%endif%}
      </h6>
      <p class="experience-desc">{{ prj.summary }}</p>
    </div>
  </div>
<br>
{% endif %} {%endfor%} {%endif%} {%endfor%}
</div>
